<div class='container'>
  <div class="restaurant">
    <% @restaurants.each do |restaurant| %>
      <p><%= restaurant.name %></p>
      <p><%= restaurant.address %></p>
      <p><%= restaurant.category %></p>
    <% end %>
  </div>
</div>
